#container {
    background-image: url(../assets/img/filella.jpg);
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: container;
    background-size: cover;
    height: 75vh;
    padding-top: 5vh;
 }


h4{
    color: white;
    font-family: 'Mom';
    width: 30vw;
    text-align: left;
    margin-top: -3vh;
    margin-left: -3vw;
}

#form{
   display: flex;
   flex-direction: row;
   margin-left: 12vw;
}

#socialContact{
   display: flex;
   flex-direction: row;
   margin-top: 18vh;
   margin-Left:5vw;
}

.socialContact{
   width: 5vw;
   margin-left: 1vw;
} 

textarea{
   margin-left: 0.6vw;
   width: 30.8vw;
   border-radius: 5px;
   height: 10vh;
}

@media (min-width: 320px) and (max-width: 760px){
   h4{
      color: white;
      font-family: 'Mom';
      width: 80vw;
      text-align: center;
  }
  
  #form{
     display: flex;
     flex-direction: column;
  }
  
  #socialContact{
     margin-top: -6vh;
     margin-left: 25vw;
     img{
      width: 10vw;
     }
  }

  form{
   display: flex;
   flex-direction: column;
   margin: 14vw;
   margin-top: 0;
  }
  input, label, textarea {
   width: 80vw;
   margin: 0;
  }
  #submit {
   width: 25vw;
  }
}