#container {
    background-image: url(../assets/img/filella.jpg);
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: container;
    background-size: cover;
    height: 75vh;
    padding-top: 5vh;
    width: 100vw;
    display: flex;
}

#card{
    max-width: 15vw;
    background-color: white;
    margin: -2vw;
    border-radius: 5px;
    padding: 0.5vh 0.6vw;
    height: 68vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
}

.pagination {
    margin: auto;
}

.page-item {
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    color:black;
    width: 2vw;
    height: 4vh;
    margin-top: 0.5vh;
    font-size: 16px;
    font-family: 'Mom';
}

.page-link {
    color: black;
  }

#titleCard{
    font-family: 'Cream';
    font-size: 30px;
    padding: 1vh;
    height: 8vh;
  }

#bodyCard{
    margin-bottom: 7vh;
    height: 45vh;
    img{
        width: 12vw;
    }}

#description{
    margin: 1vh;
    margin-bottom: 1vh;
    height: 12vh;
    font-size: 16px;
}

#buttonsIcons{
    margin-bottom: 0.8vh;
    display: flex;
    flex-direction: row;
    padding: 0vh 2vw;
  }

.buttonCard{
    width: 2.3vw;
    height: 4.8vh;
    padding: 0.2vw;

}
.icons{
    width: 1.2vw;
}
#edit {
    max-width: 2.6vw;
}


@media (min-width: 320px) and (max-width: 760px){
    #container {
        height: 25vh;
    }
    #card{
        max-width: 38vw;
        height: 45vh;
        margin-right: 0;
        margin-top: -3vh;
        margin-bottom: 0;
    }
    
    .pagination {
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    
    .page-item {
        width: 5vw;
        height: 3vh;
    }
    .cardModal{
        margin-top: -10vh;
    }

    #titleCard{
        font-size: 22px;
        height: 7vh;
      }
    
    #bodyCard{
        margin-bottom: 6vh;
        img{
            width: 24vw;
        }}
    
    #description{
        margin: 1vh;
        margin-bottom: 1vh;
        height: 12vh;
        font-size: 13px;
    }

    #buttonsIcons{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-content:space-between;
        max-width: 8vw;
        min-width: 2vw;
        margin-top: -20vh;
        margin-left: 7vw;
      }

    .buttonCard{
        min-width: 8vw;
        height: 4vh;

    }
    .icons{
        width: 4vw;
    }
    #edit {
        max-width: 8vw;
    }
}